:root {
    --primary-bgcolor: transparent;
    --primary-fontcolor: transparent;
    --scrollbar-base: transparent;
    --scrollbar-thumb: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Microsoft YaHei';
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 13px;
    background: var(--primary-bgcolor);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-base)
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border: 1px solid var(--scrollbar-thumb);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: block;
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-base)
}





