:root {
    // --primary-bgcolor: rgba(0, 0, 0, 0.3);
    // --primary-fontcolor: #fff;
    // --scrollbar-base: #1c222b;
    // --scrollbar-thumb: #434b55;

    --primary-bgcolor: rgb(255, 248, 144);
    --primary-fontcolor: rgb(119, 80, 37);
    --scrollbar-base: #c7990f;
    --scrollbar-thumb: #ffcc33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Microsoft YaHei';
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 13px;
    background: var(--primary-bgcolor);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-base)
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border: 1px solid var(--scrollbar-thumb);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    display: block;
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-base)
}





