.menu {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;

    .menu-item {
        margin-right: 10px;
        font-size: 12px;
        color: #aaa;
        cursor: pointer;
        transition: font-size .3s;

        &:hover {
            color: #fff;
        }

        &.active {
            font-size: 20px;
            color:#fff;
        }
    }    
} 